.button {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid $primary-color;
  background-color: $primary-color;
  color: #fff;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  transition: all $default-transition-speed $default-transition-timing-function;
  text-decoration: none;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }
}

.button-emerald-ghost {
  background-color: transparent;
  color: $emerald;
  border: 1px solid $emerald;

  &:hover {
    background-color: $emerald;
    color: #fff;
  }
}

.shopping-card-button {
  margin-left: 10px;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 4px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.disabled {
  &:hover {
    cursor: default !important;
    background-color: $primary-color !important;
  }
}
