.card {
  position: relative;
  display: inline-block;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;

  img {
    margin-top: 5px;
    max-width: 100%;
    height: 200px;
  }

  &--game {
    width: 320px;
    margin-bottom: 20px;
  }

  &--review {
    width: 490px;
    margin-bottom: 20px;
  }

  &--review-form {
    margin-bottom: 15px;
  }

  &__header,
  &__body,
  &__footer {
    padding: ($default-padding-cards / 1.25) $default-padding-cards;
  }

  &__header {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
  }

  &__label {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    top: 15px;
    right: -45px;
    width: 150px;
    text-transform: uppercase;
    font-size: .6rem;
    text-align: center;
    transform: rotate(45deg);
  }
}