.default-header {
  padding-top: $gutter;
}

.branding {
  height: 40px;
}

@media (max-width: 768px) {
  .branding {
    width: 246px;
  }
}

.default-nav {
  height: 44px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  .pull-right {
    a {
      padding: (($gutter + 12.5) / 2) 5.5px;
    }

  }

  a {
    display: inline-block;
    margin-right: -5px;
    height: 44px;
    color: $primary-font-color;
    text-decoration: none;
    font-size: 0.9rem;
    padding: ($gutter / 2) 5.5px;

    &:hover {
      margin-top: -1px;
      margin-bottom: -1px;
      border-bottom: 1px solid $primary-color;
      border-top: 1px solid $primary-color;
      color: $primary-color;
    }
  }
}

.search-form {
  input[type=text] {
    width: 200px;
    border: 2px solid $primary-color;
    margin-right: -5.5px;
    padding: 8px 10px 7px 10px;
    outline: 0;
    line-height: $base-font-size;
    font-size: 0.9rem;
  }
}