.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9000;
  opacity: 0;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    min-height: 250px;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    z-index: 9001;
  }

  &__close-button {
    position: fixed;
    z-index: 9001;
    top: 20px;
    right: 20px;
    cursor: pointer;

    .fa {
      color: #fff;
      font-size: 2rem;
    }
  }
}

.box-art-modal {
  width: 75%;
}