.search-form {
  position: relative;
}

.search-results {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  min-height: 25px;
  border: $primary-color 2px solid;
  border-top: 0;
  z-index: 100;

  &__header {
    width: 100%;
    background-color: $primary-color;
    padding: 5px 10px;
    color: #fff;
    font-weight: 700;
    font-size: 0.9rem;
  }

  &__result {
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 2px solid $primary-color;
    text-decoration: none;
    color: $primary-font-color;

    &:hover {
      background-color: rgba(46, 204, 113, 0.1);
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__no-result {
    padding: 5px 10px;
  }
}