*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $primary-font-color;
}

h1 {
  line-height: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: $primary-font-color;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }
}

label {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  margin-bottom: 5px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
textarea {
  width: 100%;
  padding: 5px 10px;
  outline: $primary-color 1px;
}

textarea {
  resize: none;
}

.form-group {
  margin-bottom: 20px;
}