@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'components/header';
@import 'components/buttons';
@import 'components/cards';
@import 'components/stars';
@import 'components/shopping-cart';
@import 'components/modal';
@import 'components/search';
@import 'state';
@import 'helpers';

// TODO: Export to own file
.single-game__box-art-showcase {
  text-align: center;
  padding: 20px 0;

  img {
    width: 75%;
  }
}

.single-game__price-highlight {
  color: $red;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.single-game__not-released-yet {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 700;
  line-height: 1.25rem;
}

.screenshots {
  min-height: 150px;
}

.single-game__screenshot {
  display: block;
  width: 235px;
  margin-bottom: 20px;
  cursor: pointer;

  img {
    width: 100%;
  }

  &:hover {
    opacity: 0.9;
  }
}

.divider {
  border-bottom: 1px solid #ddd;
}

.blacked-out-price {
  text-decoration: line-through;
  color: black;
  font-size: 20px;
}