// Make an element full width
.full-width {
  width: 100%;
}

// Primary color
.primary-color {
  color: $primary-color;
}

// Center text or element with display inline-block
.center-text {
  text-align: center;
}

// Add margin
.mb-20 {
  margin-bottom: 20px;
}

// Remove default padding or margin from element
.no-padding-top {
  padding-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

// Pull element to side
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}