//.container {
//  max-width: $max-width-container;
//  width: $max-width-container;
//  margin: 0 auto;
//
//  &--with-padding {
//    padding: 0 $gutter;
//  }
//}
//
//.row {
//  width: 100%;
//  overflow: hidden;
//}
//
//.column {
//  width: 100%;
//  float: left;
//  margin-bottom: $gutter;
//}
//
//@for $i from 2 through $grid-columns {
//  .column--#{$i} {
//    margin-right: $gutter;
//    width: (100 / $i - $gutter) + ($gutter / $i);
//  }
//}
//
//@for $i from 2 through $grid-columns {
//  .column--#{$i}:last-child {
//    margin-right: 0;
//  }
//}
//
//@media (max-width: 768px) {
//  @for $i from 2 through $grid-columns {
//    .column--#{$i}:not(.column--#{$i}--small) {
//      width: 100%;
//    }
//  }
//
//  .container {
//    &--with-padding {
//      padding: 0 ($gutter * 2);
//    }
//  }
//}

@mixin calc_cols () {
  @for $i from 1 through $grid-columns - 1 {
    .col-#{$i} {
      width:(100% / ($grid-columns / $i)) - $grid-gutter * ($grid-columns - $i) / $grid-columns;
    }
  }
  .col-#{$grid-columns} { width:100%; }
}

.container {
  max-width: $grid-width;
//  width: 100%;
  width: $grid-width;
  margin: auto;

  .row {
    @include clearfix;
    @include calc_cols();

    margin-bottom: $grid-gutter;

    [class^="col-"] {
      float:left;
      margin-right: $grid-gutter;

      @media screen and (max-width: $breakpoint-wide-phone) {
        margin-top: $grid-gutter;
        width: 100%;
      }

      &:last-child { margin-right:0%; }
    }
  }
}