@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin clear() {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

@mixin clearfix(){
  &:before,
  &:after {
    content: "\0020";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  &:after {
    clear: both;
  }
  zoom: 1;
}

@function pxtopercent($target, $parent: $grid-width) {
  @return percentage($target / $parent);
}

@mixin padding($padding: $grid-gutter, $padding-breakpoint: $grid-gutter, $breakpoint: $breakpoint-wide-phone) {
  padding: $padding;
  @media screen and (max-width: $breakpoint) {
    padding: $padding-breakpoint;
  }
}

@mixin margin($margin: $grid-gutter 0, $margin-breakpoint: $grid-gutter 0, $breakpoint: $breakpoint-wide-phone) {
  margin: $margin;
  @media screen and (max-width: $breakpoint) {
    margin: $margin-breakpoint;
  }
}