// Colors
$midnight: #2C3E50;
$emerald: #2ECC71;
$red: #cc2e3a;
$clouds: #ECF0F1;
$sunflower: #F1C40F;

// Theme Colors
$primary-color: $emerald;
$secondary-color: $midnight;

// Social Media Colors
$color-facebook:          #3B5998;
$color-twitter:           #4099FF;
$color-google-plus:       #d34836;
$color-reddit:            #525252;

// CSS3 Transition
$default-transition-speed: 0.2s;
$default-transition-timing-function: ease;

// Fonts
$font-stack: 'Lato', sans-serif;
$base-font-size: 16px;
$primary-font-color: #222;
$base-line-height: 24px;

// Layout
$max-width-container: 1000px; // in px
$gutter: 1.8%; // in %
$grid-width: 1000px;
$grid-columns: 12;
$grid-gutter: $gutter;

// Breakpoints
$breakpoint-phone:        320px;
$breakpoint-wide-phone:   480px;
$breakpoint-tablet:       768px;
$breakpoint-wide-tablet:  1024px;

// Cards
$default-padding-cards: 5%;
